<h1>Show User</h1>

<ul>

  <li>
    <strong>Firstname:</strong>
    <%= @user.firstname %>
  </li>

  <li>
    <strong>Dob:</strong>
    <%= @user.dob %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
